<div class="container my-5">
  <h1 class="text-center mb-5">CSS-only (no images, no javascript)</h1>
  <div class="grid">
    <div class="big red">
      <div>1</div>
      <div>Iso</div>
      <div>aenean vel elit scelerisque mauris pellentesque pulvinar</div>
    </div>
    <div class="small blue">
      <div>2</div>
      <div>B</div>
      <div>aenean</div>
      <div>elit</div>
    </div>
    <div class="transparent"></div>
    <div class="transparent"></div>
    <div class="small deep-blue">
      <div>3</div>
      <div>C</div>
      <div>aenean</div>
      <div>elit</div>
    </div>
    <div class="small deep-blue">
      <div>4</div>
      <div>O</div>
      <div>aenean</div>
      <div>elit</div>
    </div>
    <div class="small purple">
      <div>5</div>
      <div>F</div>
      <div>aenean</div>
      <div>elit</div>
    </div>
    <div class="small pink">
      <div>6</div>
      <div>Ne</div>
      <div>aenean</div>
      <div>elit</div>
    </div>
    <div class="small orange">
      <div>7</div>
      <div>Mg</div>
      <div>aenean</div>
      <div>elit</div>
    </div>
  </div>
  <div class="grid">
    <div class="big orange">
      <div>9</div>
      <div>Flt</div>
      <div>aenean vel elit scelerisque mauris pellentesque pulvinar</div>
    </div>
    <div class="transparent"></div>
    <div class="transparent"></div>
    <div class="small deep-blue">
      <div>10</div>
      <div>P</div>
      <div>aenean</div>
      <div>elit</div>
    </div>
    <div class="small deep-blue">
      <div>11</div>
      <div>S</div>
      <div>aenean</div>
      <div>elit</div>
    </div>
    <div class="small orange">
      <div>12</div>
      <div>Ca</div>
      <div>aenean</div>
      <div>elit</div>
    </div>
    <div class="small green">
      <div>13</div>
      <div>Sc</div>
      <div>aenean</div>
      <div>elit</div>
    </div>
    <div class="transparent"></div>
    <div class="transparent"></div>
  </div>
</div>
